[user]
  email = haruki.osaka.u@gmail.com
  name = yoshiyoshiharu
[diff]
  algorithm = histogram
[filter "ignoreline"]
  smudge = cat
  clean = sed -e '/gitignoreline$/d'
[core]
  pager = delta
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[alias]
  st = status
  a = add
  au = add -u
  l = log --oneline --graph --decorate
  c = commit
  cm = commit -m
  d = diff
  co = checkout
  rs = reset
  rss = reset --soft
  rsh = reset --hard
  rb = rebase
  rbc = rebase --continue
  cp = cherry-pick
  sw = switch
  br = branch
  brc = symbolic-ref --short HEAD
  ps = push
  pl = pull
  st = stash
